body {
  font-family: 'PT Sans', sans-serif;
  color: #131313;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  padding: 0 32px;
}
.button a,
.button button {
  background: #e12351;
  text-transform: uppercase;
  padding: 0 20px;
  color: #fff;
  font-size: 13px;
  border: none;
  font-weight: bold;
  height: 48px;
  display: inline-grid;
  letter-spacing: 1px;
  cursor: pointer;
  place-items: center;
  border-radius: 6px;
  text-decoration: none;
  min-width: 96px;
  transition: 0.2s;
}
.button a:hover,
.button button:hover {
  transform: translateY(-6px);
}
.button a:disabled,
.button button:disabled {
  background: #ccc;
  cursor: default;
}
.h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}
.header {
  padding: 16px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
}
.header__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAxNiAzMSIgZmlsbD0icmdiKDUxLCA1MSwgNTEpIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lIHgxPSIxNS4zNTQyIiB5MT0iMC4yMTkxODYiIHgyPSIwLjQ0OTU2NCIgeTI9IjMwLjc3ODIiCnN0cm9rZT0icmdiKDUxLCA1MSwgNTEpIi8+PC9zdmc+Cg==");
  display: block;
  height: 32px;
  position: relative;
  margin-right: 20px;
  top: 8px;
  margin-left: 8px;
}
.header__title {
  font-size: 24px;
  line-height: 1.333333333333333;
  position: relative;
  top: 6px;
}
.header__title a {
  color: #131313;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
  transition: 0.2s;
}
.header__title a:hover {
  border-color: currentColor;
}
.header__right {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 20px;
}
.header__nav ul li a {
  font-size: 16px;
  color: #00527b;
  position: relative;
  text-decoration: none;
}
.header__nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.2s;
  width: 0;
  background-image: linear-gradient(270deg, #d81f4f, #0268b9);
}
.header__nav ul li a:hover:after {
  width: 100%;
}
.header__phone button {
  text-decoration: none;
  height: 44px;
  display: grid;
  place-items: center;
  border-radius: 22px;
  color: #00527b;
  border: 2px solid #00527b;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  width: 190px;
  cursor: pointer;
  text-transform: uppercase;
}
.header__phone button span:nth-child(2) {
  display: none;
  font-size: 16px;
}
.header__phone button:hover {
  background: linear-gradient(90deg, #d81f4f, #0268b9);
  color: #fff;
  border: none;
}
.header__phone button:hover span:nth-child(1) {
  display: none;
}
.header__phone button:hover span:nth-child(2) {
  display: block;
}
.hero {
  background: url("../img/hero-bg.webp") no-repeat center center;
  padding: 64px 0;
}
.hero__body {
  width: 50%;
  margin-left: 48px;
}
.hero__title {
  font-size: 34px;
  font-weight: bold;
  font-family: 'PT Serif', serif;
  margin-bottom: 16px;
  line-height: 1.294117647058824;
}
.hero__text {
  font-size: 22px;
  line-height: 1.181818181818182;
  margin-bottom: 44px;
}
.hero__button {
  margin-bottom: 24px;
}
.hero__stores {
  display: flex;
  gap: 8px;
}
.hero__store a {
  border: 1px solid #d4d8de;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 38px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 13px;
  color: #262626;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.2s;
}
.hero__store a:hover {
  transform: translateY(-6px);
}
.pluses {
  background-image: radial-gradient(circle farthest-side at center bottom, #0091d7, #004094 100%);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  padding: 128px 0;
  color: #fff;
}
.pluses__grid {
  display: flex;
  gap: 64px;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}
.pluses-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pluses-item__icon {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin-bottom: 24px;
  background: #fff;
  display: grid;
  place-items: center;
}
.pluses-item__icon img {
  width: 52px;
  height: 52px;
}
.pluses-item__title {
  font-size: 26px;
  margin-bottom: 8px;
  line-height: 1;
}
.pluses-item__text {
  font-size: 19px;
  line-height: 1.368421052631579;
}
.use {
  padding: 48px 0;
}
.use__h2 {
  margin-bottom: 48px;
}
.use__blocks {
  display: grid;
  gap: 48px;
}
.use-block {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
}
.use-block__h3 {
  font-size: 28px;
  font-weight: bold;
  color: #046ab4;
  margin-bottom: 32px;
}
.use-block__ul {
  margin-bottom: 32px;
}
.use-block__ul ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.use-block__ul ul li {
  display: flex;
  font-size: 18px;
  white-space: nowrap;
}
.use-block__ul ul li:before {
  content: '—';
  margin-right: 8px;
}
.footer {
  background: url("../img/footer-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 32px 0;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer__top {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.footer-top__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.footer-top__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}
.footer-top__ul ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-top__ul ul li a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.2s;
}
.footer-top__ul ul li a:hover {
  opacity: 1;
}
.footer-top__account a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  display: inline-grid;
  place-items: center;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0 20px;
  transition: 0.2s;
  margin-bottom: 24px;
}
.footer-top__account a:hover {
  background: rgba(0,0,0,0.3);
}
.footer-top__ask {
  margin-bottom: 24px;
  margin-left: 20px;
}
.footer-top__ask a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  font-size: 18px;
  opacity: 0.7;
}
.footer-top__ask a:hover {
  opacity: 1;
}
.footer-top__email {
  margin-left: 20px;
}
.footer-top__email a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.2s;
}
.footer-top__email a:hover {
  opacity: 1;
}
.footer__bottom {
  max-width: 1100px;
  margin: 0 auto;
}
.footer-bottom__grid {
  display: flex;
  justify-content: space-between;
}
.footer-bottom__left {
  display: flex;
  align-items: center;
}
.footer-bottom__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-bottom__phone {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 12px;
}
.footer-bottom__phone a {
  font-size: 28px;
  text-decoration: none;
}
.footer-bottom__phone span {
  text-align: right;
  font-size: 14px;
}
.footer-bottom__email {
  line-height: 1;
  font-size: 14px;
}
.footer-bottom__email a {
  display: flex;
  flex-direction: column;
}
.footer-bottom__email span {
  opacity: 0.7;
}
.footer-bottom__callback a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  display: inline-grid;
  place-items: center;
  border-radius: 6px;
  background: #2c71c5;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.2s;
}
.footer-bottom__callback a:hover {
  transform: translateY(-6px);
}
.success {
  padding: 64px 0;
  flex: 1;
}
.reg {
  padding: 64px 0;
  flex: 1;
}
.reg__h2 {
  margin-bottom: 48px;
}
.reg__form {
  max-width: 640px;
  margin: 0 auto;
}
.reg__form form {
  display: grid;
  gap: 24px;
}
.reg__form form label {
  width: 100%;
  font-size: 18px;
  user-select: none;
}
.reg__form form label input[type="text"] {
  padding: 0 16px;
}
.reg__form form label input[type="text"],
.reg__form form label input[type="email"],
.reg__form form label input[type="password"],
.reg__form form label select {
  margin-top: 8px;
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #d4d8de;
  padding: 0 16px;
}
.reg__form form label input[type="checkbox"] {
  margin-right: 16px;
}

.reg__loader {
  display: flex;
  justify-content: center;
}

svg {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #00527b;
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
